:root {
  --column-width: 200px;
  --border-style: 1px dashed blue;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding-top: 50px;
}

.workspace {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  border: var(--border-style);
  min-height: 600px;
  border-radius: 100px;
  padding: 50px;
}

.content {
  display: flex;  
  min-height: 450px;
  justify-content: center;
}

.actions {
  display: flex;    
  justify-content: space-evenly;
  margin: 0 50px;
}

.actions .button {
  border: var(--border-style);
  border-radius: 10px;
  height: 40px;
  color: blue;
  background-color: lightgrey;
  padding: 0 20px;
}
