
.table {
    --table-border-style: 1px dashed black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.table .label {
    padding: 20px;
    margin-bottom: 20px;
    border: var(--table-border-style);
    border-radius: 20px;
    border-color: black;
}

.inner-table {
    display: flex;
    flex-direction: column;
}

.table-header {
    display: flex;
    flex-direction: row;
    border-bottom: var(--table-border-style);
}

.table-header .column {
    width: var(--column-width);
    padding: 0 10px;
    text-align: center;
}

.table-header .column:nth-child(1) {
    border-right: var(--table-border-style);
}

.table-body {
    display: flex;
    flex-direction: column;    
}

.table-body .table-body__row {
    display: flex;
    padding: 0;
}

.table-body__row .table-body__cell:nth-child(1) {
    border-right: var(--table-border-style);
    text-align: left;
}

.table-body__cell {
    width: var(--column-width);
    padding: 0 10px;
    text-align: center;
}